.grid-container {
    display: flex;
    flex-direction: column;
}

.rowDivs {
    display: flex;
    flex-direction: row;
}

.gridDivs {
    width: 30px;
    height: 30px;
    border: 1px solid red;

}

.gridDivsHover {
    width: 30px;
    height: 30px;
    border: 1px solid red;
    background-color: blue;
}


