.grid-select-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-suite {
    display: flex;
    flex-direction: row;
}



.grid-container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.rowDivs {
    display: flex;
    flex-direction: row;
}

.gridDivs {
    width: 10px;
    height: 10px;
    border: 1px solid red;

}

.gridDivsHover {
    width: 10px;
    height: 10px;
    border: 1px solid red;
    background-color: blue;
}




